ipython[all]==4.2.0
Jinja2==2.8
Fabric3==1.11.1.post1
networkx==1.11
requests==2.10.0
pandas==0.18.1
pycrypto==2.6.1

# Scientific libraries take a lot of time to build.
#scipy==0.14
#matplotlib==1.4.2
#numpy==1.9.1

# Adding iotlabcli
-e git://github.com/iot-lab/cli-tools.git#egg=iotlabcli
